{% load static %}
    <!-- footer -->
    <footer>
        <div class="container-fluid py-5">

            <section class="row d-flex align-items-baseline footer-items">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                        <a href="">
                            <p>راهنمای استفاده</p>
                        </a>
                        <a href="">
                            <p>سوالات متداول </p>
                        </a>
                        <a href="">
                            <p>قوانین و مقررات </p>
                        </a>
                        <a href="">
                            <p>پیشنهاد آموزش </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                        <a href="">
                            <p>راهنمای استفاده</p>
                        </a>
                        <a href="">
                            <p>سوالات متداول </p>
                        </a>
                        <a href="">
                            <p>قوانین و مقررات </p>
                        </a>
                        <a href="">
                            <p>پیشنهاد آموزش </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                        <a href="">
                            <p>مستندات جنگو</p>
                        </a>
                        <a href="">
                            <p>آموزش دارت</p>
                        </a>
                        <a href="">
                            <p>خلاصه کتاب‌های پایتون</p>
                        </a>
                        <a href="">
                            <p>چند نکته ی پایتونی</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">تماس با ما</span></h6>
                        <a href="" class="">
                            <img src="{% static 'image/f1.svg' %}" alt="">
                            {{ contact_info.location }}
                        </a>
                        <a href="" class="">
                            <img src="{% static 'image/f2.svg' %}" alt="">
                            پشتیبانی: {{ contact_info.support }}
                        </a>
                        <a href="" class="">
                            <img src="{% static 'image/f4.svg' %}" alt="">
                            {{ contact_info.email }}
                        </a>

                        <button class="footer-btn my-3">ارسال پیام</button>

                        <div class="social-media d-flex align-items-center flex-wrap ">
                            {% if contact_info.instagram %}
                                <a href="{{ contact_info.instagram }}"> <i class="fa fa-instagram"></i></a>
                            {% endif %}
                            {% if contact_info.telegram %}
                                <a href="{{ contact_info.telegram }}"> <i class="fa fa-telegram"></i></a>
                            {% endif %}
                            {% if contact_info.whatsapp %}
                                <a href="{{ contact_info.whatsapp }}"> <i class="fa fa-whatsapp"></i></a>
                            {% endif %}
                            {% if contact_info.twitter %}
                                <a href="{{ contact_info.twitter }}"> <i class="fa fa-twitter"></i></a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </footer>