{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tip Hub | پنل کاربری
{% endblock %}
<html lang="en">

{% block content %}
    <body>

    <main>

        <section class="py-5">
            <div class="container">
               <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-11 col-lg-10">
                    <div class="user-panel custom-bg">
                        <div class="user-panel-box">
                            <form method="post">
                            {% csrf_token %}
                            {% if request.user.image %}
                                <div class="user-panel-profile">
                                    <img src="{{ request.user.image.url }}" alt="{{ request.user.username }}">
                                </div>
                            {% else %}
                                <div class="user-panel-profile">
                                    <img src="{% static 'image/sutdent-prof.png' %}" alt="{{ request.user.username }}">
                                </div>
                            {% endif %}
                            <div class="change-profile-btn">
                                {{ form.image }}
                            </div>

                            <div style="margin-bottom: 10px" class="border-bottom pb-3">
                                <p>{{ form.bio }}</p>
                            </div>

                            <!-- item -->
                            <div class="user-panel-field">
                                <i class="fa fa-user"></i>
                                {{ form.full_name }}
                            </div>
                            <!-- item -->
                            <div class="user-panel-field">
                                <i class="fa fa-envelope"></i>
                                {{ form.email }}
                           </div>
                            <!-- item -->
                            <div class="user-panel-field">
                                <i class="fa fa-phone"></i>
                                {{ form.phone }}
                            </div>
                            <!-- item -->
                            <div class="user-panel-field">
                                <i class="fa fa-user-circle"></i>
                                {{ form.username }}
                            </div>

                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-instagram"></i>
                                {{ form.instagram }}
                            </div>

                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-github"></i>
                                {{ form.github }}
                            </div>

                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-linkedin"></i>
                                {{ form.linkedin }}
                            </div>

                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-twitter"></i>
                                {{ form.twitter }}
                            </div>

                        </div>

                        <div class="d-flex justify-content-center mt-3 ">
                            <button type="submit" class="btn custom-btn w-50">اعمال تغییرات</button>
                        </div>
                        </form>


                    </div>
                </div>
               </div>
            </div>
        </section>


    </main>
</body>
{% endblock %}

</html>