{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}
    Tip Hub | ایمیل ارسال شد
{% endblock %}
<html lang="en">
{% block content %}
<body>


    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center">بازیابی گذرواژه</div>
                            <p>لطفا آدرس ایمیل خود را برای تکمیل ثبت نام تایید کنید.</p>


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


</body>
{% endblock %}

</html>