{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tip Hub | {{ object.username }}
{% endblock %}
<html lang="en">

{% block content %}
    <body>

    <main>

        <section class="py-5">
            <div class="container">
               <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-11 col-lg-10">
                    <div class="user-panel custom-bg">
                        <div class="user-panel-box">

                            {% if object.image %}
                                <div class="user-panel-profile">
                                    <img src="{{ object.image.url }}" alt="{{ object.username }}">
                                </div>
                            {% else %}
                                <div class="user-panel-profile">
                                    <img src="{% static 'image/sutdent-prof.png' %}" alt="{{ object.username }}">
                                </div>
                            {% endif %}

                            {% if request.user.is_authenticated and request.user.id != object.id %}
                                <div style="width: 110px; margin-top: 0px" class="change-profile-btn">
                                    <a href="{% url 'account:follow' object.id %}">
                                        {% if are_following %}
                                            <button class="btn custom-btn">دنبال نکردن</button>
                                        {% else %}
                                            <button class="btn custom-btn">دنبال کردن</button>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}

                            {% if object.bio %}
                                <div style="margin-bottom: 10px; width: 100%; text-align: center" class="border-bottom pb-3">
                                    <p>{{ object.bio }}</p>
                                </div>
                            {% endif %}

                            {% if object.full_name %}
                                <div class="col-lg-6 mb-4">
                                    <i class="fa fa-user"></i>
                                    <h6 class=" font-weight-bold"> {{ object.full_name }} </h6>
                                </div>
                            {% endif %}

                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-envelope"></i>
                                <h6 class=" font-weight-bold"> {{ object.email }} </h6>
                           </div>

                            {% if request.user.is_authenticated and request.user.id == object.id %}
                                {% if object.phone %}
                                    <div class="col-lg-6 mb-4">
                                        <i class="fa fa-phone"></i>
                                        <h6 class=" font-weight-bold"> {{ object.phone }} </h6>
                                    </div>
                                {% endif %}
                            {% endif %}


                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-user-circle"></i>
                                <h6 class=" font-weight-bold"> {{ object.username}} </h6>
                            </div>

                            {% if object.instagram %}
                                <div class="col-lg-6 mb-4">
                                    <i class="fa fa-instagram"></i>
                                    <a style="color: black" href="{{ object.instagram }}"><h6 class=" font-weight-bold"> instagram </h6></a>
                                </div>
                            {% endif %}

                            {% if object.github %}
                                <div class="col-lg-6 mb-4">
                                    <i class="fa fa-github"></i>
                                    <a style="color: black" href="{{ object.github }}"><h6 class=" font-weight-bold"> github </h6></a>
                                </div>
                            {% endif %}

                            {% if object.linkedin %}
                                <div class="col-lg-6 mb-4">
                                    <i class="fa fa-linkedin"></i>
                                    <a style="color: black" href="{{ object.linkedin }}"><h6 class=" font-weight-bold"> linkedin </h6></a>
                                </div>
                            {% endif %}

                            {% if object.twitter %}
                                <div class="col-lg-6 mb-4">
                                    <i class="fa fa-twitter"></i>
                                    <a style="color: black" href="{{ object.twitter }}"><h6 class=" font-weight-bold"> twitter </h6></a>
                                </div>
                            {% endif %}


                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-video-camera"></i>
                                <h6 class=" font-weight-bold"> ویدیو ها </h6>
                            </div>

                        {% if request.user.is_authenticated and request.user.id == object.id %}
                            <div class="col-lg-6 mb-4">
                                <i class="fa fa-heart"></i>
                                <a style="color: black" href="{% url 'videos:favorites' %}"><h6 class=" font-weight-bold"> مورد علاقه های من </h6></a>
                            </div>
                        {% endif %}


                        <div class="col-lg-6 mb-4">
                            <i class="fa fa-group"></i>
                            <h6 class=" font-weight-bold"> {{ object.followers.count }} دنبال کننده </h6>
                        </div>

                        </div>

                        {% if request.user.is_authenticated and request.user.id == object.id %}
                            <div class="col-12">
                                <div class="text-center">
                                    <a class="" href="{% url 'account:edit profile' %}">
                                        <i class="fa fa-edit"></i>
                                        ویرایش اطلاعات شخصی
                                    </a>
                                </div>
                            </div>
                        {% endif %}


                    </div>
                </div>
               </div>
            </div>
        </section>


    </main>



</body>
{% endblock %}

</html>