{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tip Hub | درباره ما
{% endblock %}
<html lang="en">



{% block content %}
    <body>



    <main>

        <h2 class="text-center border-bottom  py-5 bg-white">درباره ما</h2>

        <section class="container my-5">
            {% for about in abouts %}
                <h3 class="my-3">{{ about.title }}</h3>

                <p class="text-justify lineh30">
                {{ about.text }}
                </p>
            {% endfor %}
        </section>
        <section class="my-5 container bg-white py-5">
            <h3 class="our-team-title">اعضای تیم</h3>
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                <!-- item -->
                <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member1.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                 <!-- item -->
                 <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member2.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                 <!-- item -->
                 <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member3.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                 <!-- item -->
                 <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member4.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                 <!-- item -->
                 <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member5.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                 <!-- item -->
                 <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member6.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                 <!-- item -->
                 <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member7.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                 <!-- item -->
                 <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member8.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                  <!-- item -->
                  <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member9.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>
                  <!-- item -->
                  <div class="member">
                    <div class="member-img-box">
                        <img alt="امیرحسین امیری" class="ui circular image" src="{% static 'image/member10.jpg' %}">
                    <div class="member-overlay"></div>
                    </div>
                    <p>امیرحسین امیری</p>
                </div>


            </div>
        </section>


    </main>


</body>
{% endblock %}

</html>