{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tip Hub | درباره ما
{% endblock %}
<html lang="en">



{% block content %}
    <body>



    <main>

        <h2 class="text-center border-bottom  py-5 bg-white">درباره ما</h2>

        <section class="container my-5">
            {% for about in abouts %}
                <h3 class="my-3">{{ about.title }}</h3>

                <p class="text-justify lineh30">
                {{ about.text }}
                </p>
            {% endfor %}
        </section>
        <section class="my-5 container bg-white py-5">
            <h3 class="our-team-title">اعضای تیم</h3>
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                {% for user in users %}
                    <!-- item -->
                    <div class="member">
                    <div class="member-img-box">
                        {% if user.image %}
                            <img alt="{{ user.username }}" class="ui circular image" src="{{ user.image.url }}">
                        {% else %}
                            <img alt="{{ user.username }}" class="ui circular image" src="{% static 'image/sutdent-prof.png' %}">
                        {% endif %}
                    <div class="member-overlay"></div>
                    </div>
                    <p>
                        {% if user.full_name %}
                            {{ user.full_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </p>
                </div>
                {% endfor %}



            </div>
        </section>


    </main>


</body>
{% endblock %}

</html>