{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tip Hub | {{ object.title }}
{% endblock %}
<html lang="en">

{% block content %}
    <body>

    <main>

        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <!-- video -->
                            <div class="video-player-box">
                                <div class="video-icon">
                                    <div class="btn video-btn" onclick="playvideo()" id="videobtn">
                                        <img src="{% static 'image/play-video-btn.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="video">
                                    <video width="100%" id="myVideo" autoplay>
                                        <source src="{{ object.video.url }}" type="video/mp4">
                                    </video>
                                    <img src="{{ object.cover_image.url }}" width="100%" height="100%"
                                        class="position-absolute video-poster" alt="">

                                    <div class="video-overlay"></div>
                                    <div class="video-description px-2 text-white">

                                        <p> 35 دقیقه</p>
                                    </div>
                                    <h5 class="close-btn" onclick="stopPlayer()">X</h5>
                                </div>
                            </div>
                            <!-- end video -->
                            <!-- title -->
                            <h3 class="video-title my-3">{{ object.title }}
                            </h3>
                            <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                                <p class="color78">{{ object.jalali_date }}</p>
                                <div class="d-flex align-items-center view-like">
                                    <div class="mx-3">
                                        <span>{{ object.hits.count }}</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        {% if request.user.is_authenticated %}
                                            {% if is_liked %}
                                                <span id="count">{{ object.likes.count }}</span>
                                                <a onclick="like('{{ object.id }}')" ><i class="fa fa-heart liked" id="like"></i></a>
                                            {% else %}
                                                <span id="count">{{ object.likes.count }}</span>
                                                <a onclick="like('{{ object.id }}')" ><i class="fa fa-heart-o" id="like"></i></a>
                                            {% endif %}
                                        {% endif %}


                                        <!-- <i class="fa fa-heart liked" type='button' aria-hidden="true" ></i> -->
                                    </div>

                                </div>

                            </div>
                            <!-- description -->
                            <div class="border-bottom pb-3">
                                <h4 class="my-3">درباره فیلم</h4>
                                <p class="color78">{{ object.description }}</p>

                                <div class="labels">
                                    <h4 class="my-3">برچسب ها</h4>
                                    <ul class="d-flex align-items-center">
                                        <li><a href="#" title="">#گردشگری</a></li>
                                        <li><a href="#" title="">#تفریحی </a></li>
                                        <li><a href="#" title="">#دشت نور</a></li>
                                        <li><a href="#" title="">#مکان های تفریحی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end des -->

                            <!-- comments -->
                            <div>

                                <div class="py-3">
                                    <span>{{ object.comments.count }}</span>
                                    <span>نظر</span>
                                </div>
                                {% if request.user.is_authenticated %}
                                <form action="" id="comment" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="parent_id" name="parent_id" value="">
                                    <textarea class="w-100 p-2 comment-area" name="comment" id="write" cols="30" rows="10"
                                        placeholder="دیدگاه خود را بنویسید"></textarea>
                                    <div class="d-flex align-items-center justify-content-end pt-3">
                                        <button type="submit" class="btn custom-btn">ارسال نظر</button>
                                    </div>
                                </form>
                                {% else %}
                                    <div class="py-3">
                                        <span style="color: red">برای ارسال نظر لطفا وارد حساب کاربری خود شوید</span>
                                    </div>
                                {% endif %}

                                {% if comments %}
                                {% for comment in comments %}
                                    {% if comment.parent == None %}

                                    <div class="comment my-3 p-2">
                                    <div class=" d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center justify-content-center">
                                            {% if comment.user.image %}
                                                <img src="{{ comment.user.image.url }}" alt="{{ comment.user.username }}" class="user-profile">
                                            {% else %}
                                                <img src="{% static 'image/sutdent-prof.png' %}" alt="{{ comment.user.username }}" class="user-profile">
                                            {% endif %}

                                            <p class="user-name pr-2">{{ comment.user.username }}</p>
                                        </div>

                                        <p class="comment-date-time"> {{ comment.jalali_created }}</p>
                                    </div>
                                    <p class="px-4 py-2 comment-text text-justify">{{ comment.comment }}</p>

                                    {% if request.user.is_authenticated %}
                                    <div onclick="set_value({{ comment.id }})" class="d-flex align-items-center justify-content-end reply" type='button'>
                                        <i class="fa fa-reply"></i>
                                        <p>پاسخ به این نظر</p>
                                    </div>
                                    {% endif %}

                                    {% if comment.user == user %}
                                        <a href="{% url 'videos:delete comment' comment.id %}" type="button" style="font-size: 20px"><i class="fa fa-trash-o"></i></a>
                                    {% endif %}
                                </div>


                                    {% for replay in comment.replay.all %}
                                        <div class="comment my-3 p-2 comment-child">
                                    <div class=" d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center justify-content-center">
                                            {% if replay.user.image %}
                                                <img src="{{ replay.user.image.url }}" alt="{{ replay.user.username }}" class="user-profile">
                                            {% else %}
                                                <img src="{% static 'image/sutdent-prof.png' %}" alt="{{ replay.user.username }}" class="user-profile">
                                            {% endif %}
                                            <p class="user-name pr-2">{{ replay.user.username }}</p>
                                        </div>

                                        <p class="comment-date-time">{{ replay.jalali_created }}</p>
                                    </div>
                                    <p class="px-4 py-2 comment-text text-justify">{{ replay.comment }}</p>

                                </div>
                                    {% endfor %}
                                    {% endif %}
                                {% endfor %}


                                        <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                                        {% if comments.has_previous %}
                                            <a href="?page={{ comments.previous_page_number }}" class="mx-1"><i class="fa fa-chevron-right"></i></a>
                                            <a href="?page=1" class="mx-1">1</a>
                                            <a href="?page={{ comments.previous_page_number }}" class="mx-1">{{ comments.previous_page_number }}</a>
                                        {% endif %}

                                            <a href="?page={{ comments.number }}" class="active mx-1">{{ comments.number }}</a>
                                        {% if comments.has_next %}
                                            <a href="?page={{ comments.next_page_number }}" class="mx-1">{{ comments.next_page_number }}</a>
                                            <a href="?page={{ comments.paginator.num_pages }}" class="mx-1">{{ comments.paginator.num_pages }}</a>
                                            <a href="?page={{ comments.next_page_number }}" class="mx-1"><i class="fa fa-chevron-left"></i></a>
                                        {% endif %}

                                        </div>
                            {% else %}
                                  <div class="py-3">
                                        <span>درحال حاضر نظری ثبت نشده است...</span>
                                  </div>
                            {% endif %}



                            </div>
                            <!-- end comments -->

                        </div>
                    </div>
                    <!-- main -->
                    <!-- side -->
                    <aside class="col-md-4 ">
                        <div class="custom-bg p-2 teacher-card">
                            <div class="border-bottom py-3 text-center">
                                <h4>درباره استاد</h4>
                            </div>
                            <div class="d-flex align-items-center py-3">
                                {% if object.creator.image %}
                                    <img src="{{ object.creator.image.url }}" alt="student" class="teacher-profile">
                                {% else %}
                                    <img src="{% static 'image/sutdent-prof.png' %}" alt="student" class="teacher-profile">
                                {% endif %}
                                <p class="user-name pr-2">{{ object.creator.full_name }} </p>
                            </div>
                            {% if object.creator.bio %}
                                <p class="color78 teacher-description py-3">{{ object.creator.bio}}</p>
                            {% endif %}

                                <div class="teacher-social-media d-flex align-items-center justify-content-center flex-wrap">
                                    {% if object.creator.instagram %}
                                        <a href="{{ object.creator.instagram }}"> <i class="fa fa-instagram"></i></a>
                                    {% endif %}
                                    {% if object.creator.github %}
                                        <a href="{{ object.creator.github }}"> <i class="fa fa-github"></i></a>
                                    {% endif %}
                                    {% if object.creator.linkedin %}
                                        <a href={{ object.creator.linkedin }}""> <i class="fa fa-linkedin"></i></a>
                                    {% endif %}
                                    {% if object.creator.twitter %}
                                        <a href="{{ object.creator.twitter }}"> <i class="fa fa-twitter"></i></a>
                                    {% endif %}
                                </div>
                        </div>
                    </aside>

                    <!-- end side -->
                </div>
            </div>
        </section>

    </main>
    <script>
        function set_value(id){
            document.getElementById('parent_id').value = id;
            window.location.href = '#write'
        }
    </script>
</body>
{% endblock %}

</html>